body {
    background-color: #0b2e33;
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

.base-container {
    max-width: 800px;
    margin: 0px auto;
    background-color: #0b2e33;
    padding-top: 100px;
}

.main-heading, 
.tag-line {
    text-align: center;
}

.main-heading {
    margin: 0px;
    font-size: 35px;
    color: #b8e3e9;
}

.tag-line {
    margin: 5px;
    font-size: 20px;
    color: #4f7c82;
}

.intro {
    font-size: 16px;
    text-align: left;
    color: #93B1B5;
}
