body {
    background-color: #0b2e33;
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

.base-container {
    max-width: 800px;
    margin: 0px auto;
    background-color: #0b2e33;
    padding-top: 100px;
}

.heading, 
.caption {
    text-align: center;
}

.heading {
    margin: 0px;
    font-size: 55px;
    color: #b8e3e9;
}

.caption {
    margin: 5px;
    font-size: 25px;
    color: #4f7c82;
}

